.table {
    width: 60%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

.imgintable {
    width: 20px;
    height: 20px;
}

#inputboxstyle {
    width: 300px;
    display: inline;
}

#postingbox {
    background-color: rgb(228, 221, 198);
    border: 2px solid rgb(11, 117, 117);
    min-height: 280px; 
    width: 600px;
    border-radius: 18%;
}

#postingboxpadset1 {
    padding-top: 20px;
}

#postingboxpadset2 {
    padding-left: 20px;
}

#postingboxpadset3 {
    padding-right: 20px;
}

.btnanspost {
    float: right;
    margin-right: 20px;
}

.respondexpert {
    background-color: rgb(228, 221, 198);
    width: 600px;
    height:100px;
}

#titlerespond {
    background-color: rgb(228, 221, 198);
    width: 600px;
}

#ratebox {
    width: 90px;
    height: 80px;
    background-color: rgb(228, 221, 198);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#starshow {
    width: 80px;
    height: auto;
}

#feedbackbox {
    background-color: rgb(228, 221, 198);
    border: 2px solid rgb(11, 117, 117);
    min-height: 130px; 
    width: 600px;
    padding: 5px;
}