.table {
    width: 60%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

.imgintable {
    width: 40px;
}

#inputboxstyle {
    width: 300px;
    display: inline;
}

#postingbox {
    background-color: rgb(228, 221, 198);
    border: 2px solid rgb(11, 117, 117);
    min-height: 200px; 
    width: 600px;
    border-radius: 10%;
}